body {
    /*font-family: 'Lato', sans-serif;*/
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color: #333;
    }
    *,
*::before,
*::after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

/*container*/
.container {
    width: 100%;
    max-width: 2555px;
    margin: 0 auto;
    align-items: center;
}


/*header*/
.header {
    width: 100%;
    padding-top: 30px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    position: fixed;
    background-color: #181a26;
}
.header__inner {
    display: flex;
    justify-content: space-between;
}
.header__logo {
    font-size: 35px;
    font-weight: 700;
    color: #ffffff;
    position: relative;
    right: -250px;
}